* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* font-size: 1.3rem; */
}
body {
  background-color: black;
}
button {
  font-size: 1.5rem;
}
input {
  font-size: 1.2rem;
  border: 1px solid black;
}
.form {
  max-width: 500px;
  width: 100%;
  background: #ffff;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}
.inputfield {
  margin-bottom: 15px;
  /* display: flex; */
  align-items: center;
  width: 100%;
  outline: none;
  font-size: 25px;
  border-radius: 3px;
  transition: all0.3s ease;
}
.li {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 24px;
}
select {
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 1.2rem;
}
.inputfield:focus,
select:focus {
  border: 1px solid #fec107;
}
button {
  margin-left: 135px;
  padding: 10px;
  background-color: #fec107;
}
button:hover {
  background: #ffd658;
}
.td {
  border: 1px solid #fec107;
  /* margin-left: 20%; */
}
.tdh {
  border: 1px solid #fec107;
}
/* .btn {
  width: 90px;
} */
.main {
  border: 10px solid white;
}
.title {
  color: #fec107;
}
.add {
  display: flex;
  justify-content: space-between;
}
#f1 {
  position: sticky;
}
